/.idea/
/cli/.idea/
/workflowtrigger/.idea/
/test_config/.idea/
/workflowtrigger/.gradle/
/workflowtrigger/build/
/commanddelegator/.idea/
/commanddelegator/.gradle/
/commanddelegator/build/
/util/.idea/
/util/.gradle/
/util/build/
